<div class="container">
  <span class="nav-item" cdkOverlayOrigin (mouseenter) ="showControls(1)" (mouseleave)="hideControls()" style="z-index:1050">One</span>
  <span class="nav-item" cdkOverlayOrigin (mouseenter) ="showControls(2)" (mouseleave)="hideControls()" style="z-index:1050">Two</span>
  <span class="nav-item" cdkOverlayOrigin (mouseenter) ="showControls(3)" (mouseleave)="hideControls()" style="z-index:1050">Three</span>

</div>



<!-- <mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->

<!-- <button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="afterMenu">After</button>
<mat-menu #afterMenu="matMenu" xPosition="after">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->
